<h1>Dashboard#dashboard</h1>
<p>Find me in app/views/dashboard/dashboard.html.erb</p>
<div class="row">
  <div class="col-4">
    <h2>My solved bounties</h2>
    <% @solved_bounties.each do |bounty| %>
      <div>
        <p><%= bounty.title %></p>
        <p><%= bounty.content %></p>
        -------------------------------
      </div>
    <% end %>
  </div>

  <div class="col-4">
    <h2>My pending bounties</h2>
    <% @pending_bounties.each do |bounty| %>
      <div>
        <p><%= bounty.title %></p>
        <p><%= bounty.content %></p>
        ------------------------------
      </div>
    <% end %>
  </div>

  <div class="col-4">
    <h2>My homeworks</h2>
    <% @homeworks.each do |homework| %>
      <p><%= homework.bounty.title %></p>
      <p><%= homework.bounty.content %></p>
      <p><%= homework.bounty.github_repo %></p>
      <%= link_to "remove from your homeworks", bounty_homework_path(homework.bounty, homework), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      <br>
      -------------------------
    <% end %>
  </div>
</div>
