<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">My Solved Bounties</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">My pending Bounties</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab" aria-controls="messages" aria-selected="false">My Validated Solutions</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Pornhub</button>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab"><h2>My solved bounties</h2>
    <% @solved_bounties.each do |bounty| %>
        <p><%= bounty.title %></p>
        <p><%= bounty.content %></p>
        <% end %>
  </div>
  <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab"><h2>My pending bounties</h2>
  <div class="d-flex flex-wrap">
      <div class="solutions-list" style="width: 90vw">
      <h2 class="text-light mb-5 mt-2 font-weight-bold">All  <span class="green">solutions</span>:</h2>
        <% @user.solutions.where(status: "pending").each do |t| %>
        <div class="card-show">
          <div class="solution-top d-flex justify-content-between">
            <div class="solution-left-top d-flex">
              <img style="width: 50px; height: 50px; border-radius: 50%;" src=<%=t.bounty.user.photo%>  alt="...">
              <p class="align-self-start username green font-weight-bold"><%= t.bounty.user.username %></p>
            </div>
          <div class="solution-right-top">
            <p><%= t.bounty.user.email %></p>
          </div>
        </div>
          <%= t.content%>
          <% end %>
        </div>
    <% @pending_bounties.each do |bounty| %>
      <p><%= bounty.title %></p>
      <p><%= bounty.content %></p>
      <% end %>
    </div>
    </div>
    </div>
  <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
  <div class="d-flex flex-wrap">
      <div class="solutions-list" style="width: 90vw">
      <h2 class="text-light mb-5 mt-2 font-weight-bold">All  <span class="green">solutions</span>:</h2>
        <% @user.solutions.where(status: "pending").each do |t| %>
        <div class="card-show">
          <div class="solution-top d-flex justify-content-between">
            <div class="solution-left-top d-flex">
              <img style="width: 50px; height: 50px; border-radius: 50%;" src=<%=t.bounty.user.photo%>  alt="...">
              <p class="align-self-start username green font-weight-bold"><%= t.bounty.user.username %></p>
            </div>
          <div class="solution-right-top">
            <p><%= t.bounty.user.email %></p>
          </div>
        </div>
          <%= t.content%>
          <% end %>
        </div>
</div>
<div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">...</div>
</div>
