<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">My Solved Bounties</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">My pending Bounties</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab" aria-controls="messages" aria-selected="false">My Validated Solutions</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">My Homework</button>
  </li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">Pouet</div>

<div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  <div class="bounty-container">
    <h2 class="text-center">All <span class="green">my pending</span>   bounties</h2>
    <div class="bounties-card">
      <% @pending_bounties.each do |bounty| %>
      <div class="bounty-card">
        <div class="bounty-item">
          <p>Difficulty level: </p>
          <h5><%= bounty.difficulty_level %></h5>
        </div>
        <div class="bounty-item">
          <p>Deadline: </p>
          <h5><%= bounty.deadline %></h5>
        </div>
        <div class="bounty-item">
          <p>Price: </p>
          <h5><%= bounty.price_cents %></h5>
        </div>
        <div class="bounty-item-title">
          <h5><%= bounty.title %></h5>
        </div>
        <div class="bounty-item">
          <%= link_to bounty.github_repo do %>
            <i class="fa-brands fa-github"></i>
            <% end %>
          </div>
          <div class="bounty-item-avatar">
            <% if bounty.user.photo.attached? %>
              <%= cl_image_tag bounty.user.photo.key, class:"avatar" %>
            <% else %>
              <%= image_tag("blank-profile.png")%>
            <% end %>
          </div>
          <div class="bounty-item">
            <%= link_to bounty_path(bounty) do %>
              <i class="fa-solid fa-arrow-right"></i>
            <% end %>
          </div>
        </div>
           <% end %>
        </div>
        </div>
        </div>
<div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">validated solutions</div>

     <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
    <h2>My homeworks</h2>
    <% @homeworks.each do |homework| %>
      <p><%= link_to homework.bounty.title %></p>
      <p><%= homework.bounty.content %></p>
      <p><%= homework.bounty.github_repo %></p>
      <%= link_to "remove from your homeworks", bounty_homework_path(homework.bounty, homework), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      <br>
      -------------------------
    <% end %>
  </div>
  </div>
