<div class="index-container">
  <div class="filter-container">
    <%= form_with url: bounties_path, method: :get, html: { 'data-controller' => "range-input", "data-range-input-min-value" => params[:min]||0 , "data-range-input-max-value" => params[:max] || 50000} do %>
      <h4>Price range</h4>
      <div data-range-input-target="range">
        <%= number_field_tag :min, params[:min] || 0, 'data-range-input-target' => 'minInput', class: 'd-none' %>
        <%= number_field_tag :max, params[:max] || 50000, 'data-range-input-target' => 'maxInput', class: 'd-none' %>
      </div>
      <h4>Difficulty level</h4>
      <div class="tag-item">
        <% (0..4).each do |i|%>
          <input type="checkbox" name="difficulty_level" id="difficulty_level_<%= i+1%>" value="<%= i+1%>" class="tag-selector" >
          <label for="difficulty_level_<%= i+1%>">level <%= i+1%></label>
        <% end %>
      </div>
      <%= submit_tag :ok, class: 'btn btn-primary' %>
      <%= text_field_tag :query,
        params[:query],
        class: "d-none"
      %>
    <% end %>
  </div>
  <div class="bounty-container">
    <h2 class="text-center">All <span class="green">open</span> bounties</h2>
    <div class="input-group rounded">
      <%= form_with url: bounties_path, method: :get do %>
        <%= text_field_tag :query,
            params[:query],
            class: "",
            placeholder: "🔎 Search for a problem"
            %>
        <%#= submit_tag "".html_safe %>
        <%= button_tag do %>
          <i class='fa-solid fa-filter'></i>
        <% end %>


        <%= number_field_tag :min, params[:min] || 0, class: 'd-none' %>
        <%= number_field_tag :max, params[:max] || 50000, class: 'd-none' %>
      <% end %>
      <%# <%= link_to "Create a new bounty", new_bounty_path ,class: 'button-create' %>
    </div>
    <div class="bounties-card">
      <% @bounties.each do |bounty| %>
        <div class="bounty-card">
          <div class="bounty-item">
            <p>Difficulty level: </p>
            <h5><%= bounty.difficulty_level %></h5>
          </div>
          <div class="bounty-item">
            <p>Deadline: </p>
            <h5><%= bounty.deadline %></h5>
          </div>
          <div class="bounty-item">
            <p>Price: </p>
            <h5><%= bounty.price_cents %></h5>
          </div>
          <div class="bounty-item-title">
            <h5><%= bounty.title %></h5>
          </div>
          <div class="bounty-item">
            <%= link_to bounty.github_repo do %>
              <i class="fa-brands fa-github"></i>
            <% end %>
          </div>
          <div class="bounty-item-avatar">
            <% if bounty.user.photo.attached? %>
              <%= cl_image_tag bounty.user.photo.key, class:"avatar" %>
            <% else %>
              <%= image_tag("blank-profile.png")%>
            <% end %>
          </div>
          <div class="bounty-item">
            <%= link_to bounty_path(bounty) do %>
              <i class="fa-solid fa-arrow-right"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
