<h1>Welcome to the first view, the index of the fucking final project</h1>
<div class="main-container p-5">
  <div class=' m-3 px-4 d-flex justify-content-between'>
      <div class = 'container row w-50 m-3'>
      <%@bounties.each do |bounty|%>
        <div class = 'col-12'>
          <%= link_to bounty_path(bounty) do %>
            <div class = "card-product-bookings">
              <div class='w-100'>
                <div class = "card-product-infos d-flex-column">
                  <div class='m-2 d-flex justify-content-center'>
                    <h5><%= bounty.title %></h5>
                  </div>
                  <div class='m-2 d-flex justify-content-between'>
                    <p>Problem:</p>
                    <p><%= bounty.content%></p>
                  </div>
                  <div class='m-2 d-flex justify-content-between'>
                    <p>Price:</p>
                    <p><%= bounty.price_cents%></p>
                  </div>
                  <div class='mt-2 d-flex justify-content-end'>
                  <% end %>
                  </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
    </div>
<%= link_to "Create a new bounty", new_bounty_path %>
