<h1 class="text-center m-4">Welcome to the first view, the index of the fucking final project</h1>
<div class="container">
  <div class="row">
      <div class="col-4 offset-4 mb-2">
        <%= form_with url: bounties_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for a problem"
            %>
        <%= submit_tag "Search", class: "btn btn-success" %>
        <% end %>
      </div>
    <%@bounties.each do |bounty| %>
    <div class="card" style="width: 70vw; height: 20vh">
        <div class="card-infos d-flex justify-content-between">
          <div class="card-info-left">
            <h4> <%= bounty.title %></h4>
            <p> Difficulty level: <%= bounty.difficulty_level %> </p>
            <p> Problem: <%= bounty.content %> </p>
            <p> Deadline: <%= bounty.deadline %></p>
          </div>
          <div class="card-info-right align-self-start">
            <p class="text-end mb-0"> <i class="fa-brands fa-github"></i> avatar</p>
            <p class="fs-14"> <a href=<%=bounty.github_repo%> class="btn btn-success"> <%= bounty.github_repo %> </a></p>
            <p class="text-end"> Price:  <%= bounty.price_cents %> </p>
          </div>
        </div>
    </div>
    <%end %>
    <%= link_to "Create a new bounty", new_bounty_path %>
  </div>
</div>
