
<div class="index-container" data-controller="scroll-reveal">
  <div class="filter-container d-flex flex-column justify-content-center reveal" data-scroll-reveal-target="item">
    <p class="text-center mb-5">Price range</p>
    <%= form_with url: bounties_path,
                  method: :get,
                  html: {
                    data: {
                      controller: "range-input",
                      "range-input-min-value" => params[:min]|| @min_price ,
                      "range-input-max-value" => params[:max] || @max_price,
                      "range-input-max-price-value" => @max_price,
                      class: "pricing-filter"
                    }
                  } do %>
      <div class="price-box" data-range-input-target="range"></div>
      <%= text_field_tag :min, params[:min] || @min_price, 'data-range-input-target' => 'minInput', class: 'd-none' %>
      <%= text_field_tag :max, params[:max] || @max_price, 'data-range-input-target' => 'maxInput', class: 'd-none' %>
      <div class="tag-item difficulty-box">
        <p class="mb-3 text-center mt-3">Difficulty level</p>
        <div class="difficulty-level" style="border: #6F42C1 solid 1px;">
          <% (0..4).each do |i|%>
            <input type="checkbox" name="difficulty_level" id="difficulty_level_<%= i+1%>" value="<%= i+1%>" class="tag-selector" >
            <label for="difficulty_level_<%= i+1%>">level <%= i+1%></label>
          <% end %>
        </div>
      </div>
      <div class="btn-filter w-100">
        <%= submit_tag 'Apply', class: "btn chat-btn mb-2 mt-3 w-100" %>

        <%= text_field_tag :query,
          params[:query],
          class: "d-none"
        %>
      </div>
    <% end %>
  </div>
  <div class="bounty-container mb-3">
    <h2 class="title my-5 text-center">All <span class="green">open</span> bounties</h2>
    <div class="input-group rounded" style="margin-top: 4.7rem;">
      <%= form_with url: bounties_path, method: :get, html: {class: "d-flex"} do %>
        <%= text_field_tag :query,
            params[:query],
            class: "h-100",
            placeholder: "🔎  error 404 ..."
            %>
        <%#= submit_tag "".html_safe %>
        <%= button_tag 'search', class: "search-btn btn text-white me-1 ms-2 " %>


        <%= number_field_tag :min, params[:min] || 0, class: 'd-none' %>
        <%= number_field_tag :max, params[:max] || 50000, class: 'd-none' %>
      <% end %>
      <%# <%= link_to "Create a new bounty", new_bounty_path ,class: 'button-create' %>
    </div>
    <div class="bounties-card">
      <% @bounties.each_with_index do |bounty, i| %>
        <div class="bounty-card reveal" data-scroll-reveal-target="item" data-delay="<%= i*20 %>ms" >
          <%= link_to bounty_path(bounty), class:"flex-grow-1 text-decoration-none" do %>
            <div class="bounty-info">
              <div class="bounty-title">
                <p class="title-title">Title </p>
                <p class="content-title"><%= bounty.title %></p>
              </div>
              <div class="bounty-deadline">
                <p class="title">Deadline </p>
                <p class="content">
                  <% if bounty.deadline == nil %>
                    <%= "none" %>
                  <% else %>
                    <%= bounty.deadline %>
                  <% end %>
                </p>
              </div>
              <div class="bounty-price">
                <p class="title">Price </p>
                <p class="content"><%= bounty.price_cents %> eth.</p>
              </div>
              <div class="bounty-difficulty">
                <p class="title">Difficulty level </p>
                <% if bounty.difficulty_level %>
                  <%= image_tag "#{bounty.difficulty_level}-star.png" %>
                <% else %>
                  <p>not specified</p>
                <% end %>
                <%# <p class="content"><%= bounty.difficulty_level</p> %>
              </div>
            </div>
          <% end %>
          <div class="bounty-links">
            <% if bounty.user.photo.attached? %>
              <%= cl_image_tag bounty.user.photo.key, class:"avatar-bounty" %>
            <% else %>
              <%= image_tag("blank-profile.png", class:"avatar-bounty") %>
            <% end %>
            <p class="title"><%= bounty.user.username %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
