
<div id="create-bounty">
  <div class ="pimp" data-controller="withdraw">
    <h5 class="text-center">Create a <span class="green">bounty</span></h5>
      <%= simple_form_for @bounty do |f| %>
        <div class="create-bounty-all">
          <div class="create-bounty-left">
            <span class="formfont" ><%= f.input :title, label: false, placeholder: 'Title'%></span>
            <span class="formfont"><%= f.input :content, label: false, :placeholder => "Detail your coding problem" %></span>
            <span class="formfont"><%= f.input :difficulty_level, label: false, placeholder: 'Difficulty from 1 to 5' %></span>
            <span class="formfont"><%= f.input :deadline, as: :string, input_html: { data: { controller: 'flatpickr' } }, label: false, placeholder: 'Optional: chose a deadline' %></span>
          </div>
          <div class="create-bounty-right">
            <span class="formfont"><%= f.input :github_repo, label: false, :placeholder => "Link to your code"%></span>
            <div class="d-flex align-items-center justify-content-between">
              <p id="contractAccount">Contract Account: Not Connected</p>
              <%= f.input :smartcontractaddress, label: false, input_html: { data: { withdraw_target:'smartid'}, class:"d-none"} %>
              <button type="button" class="green-create" data-withdraw-target="connectContract" data-action="click->withdraw#connectContract click->withdraw#getContractAccount">Connect to contract</button>
            </div>
            <div id="writeArea" class="d-flex align-items-center justify-content-between d-none" data-withdraw-target="depositButton">
                <div class=" input-group">
                  <%= number_field_tag :price_cents, '1', class:"form-control", id:"depositInput", :placeholder => "Price" %>
                  <div class="input-group-append">
                    <span class="input-group-text">ETH</span>
                  </div>
                </div>
              <button type="button" class="green-create" data-action="click->withdraw#depositContract">Send money to contract</button>
            </div>
            <%= f.submit class: 'button2'%>
          </div>
          <%# <span class="formfont"><%= f.input :deadline, :input_html => {:value => Time.now}, start_year: Time.now.year, start_month: Time.now.month, start_day: Time.now.day</span> %>
        </div>
      <% end %>
  </div>
</div>
