<%= render "shared/navbar" %>
<h1>create this fucking problem</h1>
<div class="container">
  <div class="col-4 offset-4 my-5 pb-5">
    <h2 class="text-center">Create a bounty </h2>
    <%= simple_form_for(@bounty) do |f| %>
      <%= f.input :content, :placeholder => "Detail your coding problem" %>
      <%= f.input :price_cents, :placeholder => "What price are you willing to pay?" %>
      <%= f.input :difficulty_level %>
      <%= f.input :deadline, :placeholder => "What is your wished deadline" %>
      <%= f.input :github_repo, :placeholder => "Link to your code"%>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
