<div class="container">
  <div class="col-4 offset-4 my-5 pb-5" style="padding-bottom:200px">
    <h5 class="text-center">Create a <span class="green">bounty</span></h5>
    <%= simple_form_for (@bounty) do |f| %>
      <span class="formfont" ><%= f.input :title%></span>
      <span class="formfont"><%= f.input :content, :placeholder => "Detail your coding problem" %></span>
      <span class="formfont"><%= f.input :smartcontractaddress, :placeholder => "Smart contract address", :label => "Smart contract adress" %></span>
      <span class="formfont"><%= f.input :price_cents, :placeholder => "What price are you willing to pay?" %></span>
      <span class="formfont"><%= f.input :difficulty_level %></span>
      <%# <span class="formfont"><%= f.input :deadline, :input_html => {:value => Time.now}, start_year: Time.now.year, start_month: Time.now.month, start_day: Time.now.day</span> %>
      <span class="formfont"><%= f.input :deadline, as: :string, input_html: { data: { controller: 'flatpickr' } } %></span>
      <span class="formfont"><%= f.input :github_repo, :placeholder => "Link to your code"%></span>
      <%= f.submit class: 'button2' %>
    <% end %>
    <div style="margin-top:30px">
      <%= link_to "back to all bounties", bounties_path %>
    </div>
  </div>
</div>

 <%# :placeholder => "What is your wished deadline" %>
