<h1 class="text-center text-light mt-4 font-weight-bold">The <span class="green"> Bounty </span> Show</h1>

<div class="container" style="width: 100vw">
  <div class="card-show">
      <div class="card-top">
        <img src=<%=@bounty.user.photo%> class="card-img-top" alt="...">
        <span class="green font-weight-bold"><%=@bounty.user.username%></span>
        <h2 class="text-center green font-weight-bold"> <%= @bounty.title %> </h2>
      </div>
      <div class="card-body d-flex justify-content-between">
        <div class="card-description">
            <p class="card-text mt-4"> Price: <%= @bounty.price_cents %></p>
            <p class="card-text">Difficulty: <%= @bounty.difficulty_level %></p>
            <p class="card-text">Deadline: <%= @bounty.deadline %></p>
        </div>
      </div>
      <div class="overview">
        <p class="card-text text-center green">Description:</p>
        <p class="description-text"> <%= @bounty.content %> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
      </div>
      <p class="align-self-center  card-github">
        <%= link_to @bounty.github_repo, @bounty.github_repo, class: "card-text text-decoration-none text-white link-github" %>
      </p>
  </div>

  <div class="bounty-btn-space d-flex justify-content-evenly mt-5 mb-4" style="width: 100vw; height: 28vh">
        <% if policy(@bounty).edit? %>
        <p class="text-decoration-none"><%= link_to "Edit this bounty", edit_bounty_path(@bounty), class: "text-decoration-none link-edit-green" %> </p>
        <% end %>
        <p class="mx-5 text-decoration-none"> <%= link_to "Propose a solution", new_bounty_solution_path(params[:id]), class: "button2" %> </p>
        <p> <%= link_to "Back to the index fdp", bounties_path, class: "text-decoration-none link-back-green"%> </p>
  </div>




    <div class="d-flex flex-wrap">
      <div class="solutions-list" style="width: 90vw">
      <h2 class="text-light mb-5 mt-2 font-weight-bold">All  <span class="green">solutions</span>:</h2>
        <% @solutions.each do |solution| %>
        <div class="card-show"">
              <div class="solution-top d-flex justify-content-between">
                <div class="solution-left-top d-flex">
                  <img style="width: 50px; height: 50px; border-radius: 50%;" src=<%=@bounty.user.photo%>  alt="...">
                  <p class="align-self-start username green font-weight-bold"><%= solution.user.username %></p>
                </div>
                <div class="solution-right-top">
                  <p><%= solution.user.email %></p>
                </div>
              </div>
              <div class="solution-content mt-4">
                <span class="green">Comment:</span>
                <p> <%= solution.content %></p>
                <span class="green"> See more:</span>
                <p class="mb-0"><%= link_to solution.github_repo, solution.github_repo , class:"text-decoration-none " %></p>
                <p> <%= link_to "view the full solution and contact the bounty solver", solution_path(solution), class:"text-decoration-none"  %></p>
                <p><%= solution.status %></p>
                <% if policy(solution).edit? %>
                <%= link_to "Edit your solution", edit_bounty_solution_path(@bounty, solution), class: "btn btn-primary card-text" %>
                <% end %>
                <% if policy(solution).destroy? %>
                  <%= link_to "Delete your solution, Proutman", solution_path(solution), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
                <% end %>
             </div>
        </div>
          <% end %>
        </div>
      </div>
   </div>
</div>
