<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="open-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content card-show">
      <div class="modal-header">
        <h2 class="text-center mt-5 mb-4">Propose your <span class="green">solution</span></h2>
      </div>

      <div class="modal-body">
                  <%= simple_form_for([@bounty, @solution]) do |f| %>
                  <%= f.input :content, :label => "Solution Overview", :placeholder => "Detail your solution" %>
                  <%= f.input :github_repo, :placeholder => "Link to your code"%>
                  <%= f.submit "Create solution", class: 'btn green mt-2' %>
                <% end %>
      </div>
      <div class="modal-footer">
        <a type="button" class="text-decoration-none link-back-green" data-bs-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>

<h1 class="text-center text-light mt-4 font-weight-bold">The <span class="green"> Bounty </span> Show</h1>

<div class="back-container">
  <div class="container ml-1" data-controller="insert-code">
    <div class="d-flex ">
      <div class="col-8 mx-3">
        <p> <%= link_to "Back to the index ↩", bounties_path, class: "text-decoration-none link-back-green"%> </p>
        <div class="card-show">
          <div class="card-top d-flex justify-content-between">
            <div class="card-title">
              <h2 class=" text-white font-weight-bold"> <%= @bounty.title %> </h2>
            </div>
            <div class="card-photo">
              <% if @bounty.user.photo.attached? %>
                <%= cl_image_tag @bounty.user.photo.key, class:"card-img-top", alt:"..."%>
              <% else %>
                <%= image_tag("blank-profile.png")%>
              <% end %>
              <span class="green font-weight-bold"><%=@bounty.user.username%></span>
            </div>
          </div>
          <div class="overview mt-1">
             <%= puts @bounty.github_repo.split("/")[4] == "rubyHunters"%>
            <p class="d-none" data-insert-code-target="owner"> <%= @github_name%></p>
            <p class="d-none" data-insert-code-target="path">  <%= @github_path %></p>
            <p class="d-none" data-insert-code-target="repo"> <%= @repo_name%></p>
            <p data-insert-code-target ="url" class="d-none"><%= "https://api.github.com/users/#{@github_name}/repos" %></p>
            <p class="description-text text-white"><%=@bounty.content%></p>
            <div class="coding-lines bg-dark">

              <code data-insert-code-target="code" data-github-token="<%= ENV["GITHUB_TOKEN"] %>" ></code>
            </div>
          </div>

          <p class="mt-3">see more on the repo <span> <%=@repo_name%></span>:</p>
          <p class="align-self-center  card-github mt-0">
            <%= link_to @bounty.github_repo, class: "text-decoration-none text-white", data: {

            insert_code_target: "url",
            action: "click->insert-code#collect"
            } do %>
            <i class="fa-brands fa-github"></i>
            <%end %>
          </p>
          <div class="ending-links-card d-flex justify-content-between">
            <div class="link-homework-card mt-3">
              <% if current_user.homeworks.where(bounty: @bounty).empty? %>
                <%= link_to "Add to my homework", bounty_homeworks_path(@bounty, @homework), data: {turbo_method: :post}, class: "button-create text-decoration-none link-edit-green" %>
              <% else %>
                <p>already in your homeworks</p>
              <% end %>
            </div>
            <div class="link-edit-card">
              <% if policy(@bounty).edit? %>
              <p class="text-decoration-none"><%= link_to "Edit this bounty", edit_bounty_path(@bounty), class: "button-create text-decoration-none link-edit-green",  data: { bs_toggle: "modal", bs_target:"#editBountyModal"}%> </p>
              <% end %>
            </div>
          </div>
          <div class="solutions">
            <div class="solutions-list">
              <h2 class="text-light mb-5 mt-3 font-weight-bold">All  <span class="green">solutions</span>:</h2>
              <% @solutions.each do |solution| %>
                <div class="modal fade" id="editModal<%=solution.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content card-show">
                      <div class="modal-header">
                        <h2 class="text-center mt-5 mb-4">Edit your <span class="green">solution</span></h2>
                      </div>

                      <div class="modal-body">
                        <%= simple_form_for([@bounty, solution]) do |f| %>
                          <%= f.input :content, :placeholder => "Detail your solution" %>
                          <%= f.input :github_repo, :placeholder => "Link to your code"%>
                          <%= f.submit "Edit your solution", class: 'btn green mt-2' %>
                        <% end %>
                      </div>
                      <div class="modal-footer">
                        <a type="button" class="text-decoration-none link-back-green" data-bs-dismiss="modal">Close</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-show-solutions">
                  <div class="solution-top d-flex">
                    <div class="solution-left-top d-flex mx-4">
                      <% if solution.user.photo.attached? %>
                        <%= cl_image_tag solution.user.photo.key, style:"width: 50px; height: 50px; border-radius: 50%;" %>
                      <% else %>
                        <%= image_tag("blank-profile.png")%>
                      <% end %>
                    </div>
                    <div class="solution-right-top">
                      <p class="align-self-start username green font-weight-bold"><%= solution.user.username %></p>
                      <p><%= solution.user.email %></p>
                      <div class="solution-content mt-4">
                        <span class="grey">Comment:</span>
                        <p> <%= solution.content %></p>
                        <span class="grey"> See more:</span>
                        <div>
                          <p>
                            <button class="btn mb-4 mt-3 chat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample<%=solution.id%>" aria-expanded="false" aria-controls="collapseExample<%=solution.id%>">
                              Chat
                            </button>
                          </p>
                        </div>

                        <p>
                          <%= link_to "See the full solution", solution.github_repo, target: "_blank", class: "card-text text-decoration-none text-white link-github", data: {
                            insert_code_target: "url",
                            action: "click->insert-code#collect"
                            } %>
                        </p>

                        <% if solution.bounty.user == current_user && solution.status == "pending" %>
                          <%= link_to "Validate this solution", bounty_solutions_path(solution), class: "btn chat-btn mb-2 mt-3", data: {turbo_method: :patch, turbo_confirm: 'Are you sure you want to confirm this solution?'} %>
                        <% end %>
                        <p class="mt-4">  <span class="grey">Status:</span> <%= solution.status %></p>
                        <div class="solutions-btn-style justify-content-evenly">
                          <% if policy(solution).edit? %>
                          <p>
                          <%= link_to "Edit your solution", edit_bounty_solution_path(@bounty, solution), class: "text-decoration-none link-back-green", data: {turbo_method: :patch, bs_toggle: "modal", bs_target:"#editModal#{solution.id}"}%>
                          </p>
                          <% end %>
                          <% if policy(solution).destroy? %>
                          <p>
                            <%= link_to "Delete your solution, Proutman", solution_path(solution), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "text-decoration-none link-back-green" %>
                          </p>
                          <% end %>
                        </div>
                    </div>
                  </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 mx-1">
          <div class="call-to-action-purple position-sticky top-0" >
            <div class="card-body">
              <div class="card-description d-flex justify-content-evenly mb-3">
                  <p class="card-text price-card mx-2 p-4"> Price <span class="light-price"><%= @bounty.price_cents %>$</p>
                  <p class="card-text difficulty-card p-4 mx-2">Difficulty <span class="light-price"><%= @bounty.difficulty_level %></span></p>
                  <%if @bounty.deadline.nil?%>
                    <p class="card-text deadline-card mb-3 p-4 mx-2">Deadline <span class="light-price"> Not defined</span></p>
                  <%else %>
                    <p class="card-text deadline-card mb-3 p-4 mx-2">Deadline <span class="light-price"> <%= @bounty.deadline %></span></p>
                  <%end %>
              </div>
            </div>
            <p class="text-center text-decoration-none"> <%= link_to "Propose a solution", "#", class: "button-purple", data: { bs_toggle: "modal", bs_target:"#createModal"} %> </p>
          </div>
      </div>
    </div>

  </div>

  <div class="front-container">
    <% @solutions.each do |solution| %>
      <div class="collapse" id="collapseExample<%=solution.id%>">
        <div class="card-chatroom">
          <div class="container-chatroom"
            data-controller="chatroom-subscription"
            data-chatroom-subscription-solution-id-value="<%= solution.id %>"
            data-chatroom-subscription-current-user-id-value="<%= current_user.id %>"
            >
            <div class="d-flex justify-content-between">
              <h1 class="chat-title">#Solution id: <%= solution.id %> </h1>
              <button class="btn btn-flat" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample<%=solution.id%>" aria-expanded="false" aria-controls="collapseExample<%=solution.id%>">
                    X
              </button>
            </div>

            <div class="messages" data-chatroom-subscription-target="messages">
              <% solution.messages.each do |message| %>
                <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
                  <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
                    <%= render "messages/message", message: message %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="form-messages">
              <%= simple_form_for [solution, @message],
                html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
                %>
                <%= f.input :content, as: :string,
                  label: false,
                  placeholder: "Type your message...",
                  # placeholder: "Message ##{@other_user.username}",
                  wrapper_html: {class: "flex-grow-1"}
                %>
                <%= f.submit "Send", class: "btn btn-flat" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
