<h1>The bounty show </h1>

<p><%= @bounty.content %></p>
<%# <p><%= @bounty.user.username %></p> %>
<p><%= @bounty.price_cents %></p>
<p><%= @bounty.difficulty_level %></p>
<p><%= @bounty.deadline %></p>
<p><%= @bounty.github_repo %></p>
