<div class="container">
  <div class="">
    <div class="card-show mt-0">
        <div class="card-top">
          <img src=<%=@bounty.user.photo%> class="card-img-top" alt="...">
          <span class="green"><%=@bounty.user.username%></span>
          <h2 class="text-center green"> <%= @bounty.title %> </h2>
        </div>
        <div class="card-body d-flex justify-content-between">
          <div class="card-description">
              <p class="card-text mt-4"> Price: <%= @bounty.price_cents %></p>
              <p class="card-text">Difficulty: <%= @bounty.difficulty_level %></p>
              <p class="card-text">Deadline: <%= @bounty.deadline %></p>
          </div>
        </div>
        <div class="overview">
          <p class="card-text text-center green">Description:</p>
          <p class="description-text"> <%= @bounty.content %> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
        <div class="link-github align-self-center">
          <a href=<%=@bounty.github_repo%> class="card-text text-dark text-decoration-none card-github text-white mb-4"> <span class="green"> Link Github </span> :<%= @bounty.github_repo %> </a>
        </div>
           <h2 class="text-center mt-5 mb-4">Propose your <span class="green">solution</span></h2>
              <%= simple_form_for([@bounty, @solution]) do |f| %>
              <%= f.input :content, :label => "Solution Overview", :placeholder => "Detail your solution" %>
              <%= f.input :github_repo, :placeholder => "Link to your code"%>
              <%= f.submit "Create solution", class: 'btn green mt-2' %>
            <% end %>
        </div>
    </div>
  </div>
</div>
